.jstree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

    .jstree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative
    }

    .jstree input:disabled {
        opacity: 0.5;
    }

    .jstree li::before, .jstree li::after {
        content: '';
        left: -20px;
        position: absolute;
        right: auto
    }

    .jstree li::before {
        border-left: 1px solid #999;
        bottom: 50px;
        height: 100%;
        top: 0;
        width: 1px
    }

    .jstree li.hidden1::before {
        display: none;
    }

    .jstree li::after {
        border-top: 1px solid #999;
        height: 20px;
        top: 25px;
        width: 25px
    }

    .jstree li.hidden1::after {
        display: none;
    }

    .jstree li span {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #999;
        border-radius: 5px;
        display: inline-block;
        padding: 3px 8px;
        text-decoration: none
    }

    .jstree li.parent_li > span {
        cursor: pointer
    }

    .jstree > ul > li::before, .jstree > ul > li::after {
        border: 0
    }

    .jstree li:last-child::before {
        height: 30px
    }

    .jstree li.parent_li > span:hover, .jstree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000
    }

    .jstree a {
        color: #0088cc;
        text-decoration: none;
    }

        .jstree a:hover, .jstree a:focus {
            color: #005580;
            text-decoration: underline;
        }

.label, .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}

.label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

    .label:empty, .badge:empty {
        display: none;
    }

a.label:hover, a.label:focus, a.badge:hover, a.badge:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.label-important, .badge-important {
    background-color: #b94a48;
}

    .label-important[href], .badge-important[href] {
        background-color: #953b39;
    }

.label-warning, .badge-warning {
    background-color: #f89406;
}

    .label-warning[href], .badge-warning[href] {
        background-color: #c67605;
    }

.label-success, .badge-success {
    background-color: #468847;
}

    .label-success[href], .badge-success[href] {
        background-color: #356635;
    }

.label-info, .badge-info {
    background-color: #3a87ad;
}

    .label-info[href], .badge-info[href] {
        background-color: #2d6987;
    }

.label-inverse, .badge-inverse {
    background-color: #333333;
}

    .label-inverse[href], .badge-inverse[href] {
        background-color: #1a1a1a;
    }

.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

    .list-arrows button {
        margin-bottom: 20px;
    }



































/* Dashboard */

.hidden-xs {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    padding: 0 20px;
}

    .user-dashboard h1 {
        color: #0e1a35;
        font-size: 30px;
        font-weight: 500;
        margin: 0;
        padding: 21px 0;
    }

    .user-dashboard .sales {
        background: #ffffff none repeat scroll 0 0;
        border: 1px solid #d4d9e3;
        display: inline-block;
        padding: 15px;
        width: 100%;
    }

        .user-dashboard .sales .dashboardButton {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: 1px solid #dadee7;
            border-radius: 100px;
            font-size: 15px;
            letter-spacing: 0.5px;
            padding-right: 32px;
            color: #0e1a35;
        }

            .user-dashboard .sales .dashboardButton::before {
                content: "";
                font-family: FontAwesome;
                position: absolute;
                right: 12px;
                top: 11px;
            }

        .user-dashboard .sales .btn-group {
            float: right;
        }

        .user-dashboard .sales h2 {
            color: #8492af;
            float: left;
            font-size: 21px;
            font-weight: 600;
            margin: 0;
            padding: 9px 0 0;
        }

    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .user-dashboard .sales .dropdown-menu {
        margin: 0px;
        padding: 0px;
        border: 0px;
        border-radius: 8px;
        width: 100%;
        color: #0e1a35;
    }

    .user-dashboard .sales .btn-group.open .dropdown-toggle, .btn.active, .btn:active {
        box-shadow: none;
    }

    .user-dashboard .sales .dropdown-menu > a {
        color: #0e1a35;
        display: inline-block;
        font-weight: 800;
        padding: 9px 0;
        text-align: center;
        width: 100%;
    }

.propertyExplorerSelector > a {
    color: #0e1a35;
    display: inline-block;
    font-weight: 800;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}



/*Main CSS*/


/*Login Signup Page*/
.user-dashboard a:focus, a:hover, a {
    outline: none;
    text-decoration: none;
}

.user-dashboard li, ul {
    list-style: none;
    margin: 0;
}

/*Login Signup Page*/


/*Home Page*/



.user-dashboard .sales .dropdown-menu > a:hover {
    color: #5584FF;
}

/*Main CSS*/






@media only screen and (max-device-width: 767px) {
    .user-dashboard button,
    html [type="button"],
    [type="reset"],
    [type="submit"] {
        outline: medium none;
    }

    .user-dashboard .sales h2 {
        color: #8492af;
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0;
    }

    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 11px;
    }

    .user-dashboard .sales button {
        font-size: 11px;
        padding-right: 23px;
    }

    .user-dashboard .sales h2 {
        font-size: 12px;
    }

    .user-dashboard .gutter {
        padding: 0;
    }
}

@media only screen and (min-device-width: 767px) and (max-device-width: 998px) {
    .user-dashboard .header-top {
        padding-top: 5px;
    }

    .user-dashboard .header-rightside {
        display: inline-block;
        float: left;
        width: 100%;
    }

        .user-dashboard .header-rightside .header-top img {
            max-width: 41px !important;
        }

    .user-dashboard .sales button {
        font-size: 10px;
    }

    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 12px;
    }

    .user-dashboard .sales h2 {
        font-size: 15px;
    }
}


/* End Dashboard*/




/* Horizontal Menu*/

.horizontalMenuWidgetClass a:hover {
    background-color: #000000;
}

.navbar {
    min-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-top-index {
    z-index: 3000;
}

.navbar-left-index {
    width: 220px;
    overflow: hidden;
    background-color: transparent;
    border: 0;
}

.navbar-right-index {
    width: 220px;
    overflow: hidden;
    background-color: transparent;
    border: 0;
}

/* End Horizontal Menu*/

.activeFilter {
    background-color: #ccc;
}

.badgebox {
    opacity: 0;
}

.badgeunchecked {
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus {
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgeischecked {
    /* Move the check mark back when checked */
    text-indent: 0;
}

/* Special Button */

.specialButton:hover {
    background-color: #286090;
    background-position: 0px -15px;
    color: #fff;
    border-color: #204d74;
    text-decoration: none;
}

.specialButton {
    border-bottom-width: 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15) 0 1px 1px rgba(0,0,0,.075);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    text-transform: none;
    overflow: visible;
    background-color: #337ab7;
    background-image: linear-gradient(to bottom, #337ab7 0, #237ab7 100%);
    background-repeat: repeat-x;
    border-color: #2e6da4;
    border-top-color: #3e6da4;
    border-bottom-width: 2px;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
}



/* Special Button */

/* XML Text Area*/

.xmlTextArea {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color: #ccc;
}

/* XML Text Area*/
