<div id="SceneLiveActionView" class="container body-content" style="position:absolute; top:0px; height:100px; left:32%; width:67%">



</div>

<div id="SceneView" class="container body-content" style="position:absolute; top:120px; left:32%; width:67%; max-width:67%; overflow-y:hidden; overflow-x:auto">

    <div id="spinnerId" style="height:600px; padding-left:40px; padding-right:40px; padding-bottom:46px; min-width:700px; padding-top:50px" class="jumbotron">

        <div style="position:absolute; top:1%; left:5%; opacity:0.5; color:#f3f3f3">
            <img style="width:180px" src="/Content/spinner.gif" /><br />
            <h3 style="text-shadow: #000 1px 0 10px;">Loading ...</h3>
        </div>

    </div>

</div>